@import "../../../../node_modules/video-react/dist/video-react.css";

.largeAudioPlayerWrapper .video-react {
  padding-top: 0 !important;
}

.largeAudioPlayerWrapper .video-react-video {
  display: none !important;
}

.largeAudioPlayerWrapper .controlBar {
  background-color: #282828;
  height: 90px;
  position: relative;
  width: 100%;
}

.largeAudioPlayerWrapper .controlBar .icon {
  cursor: pointer;
  fill: #b3b3b3;
  font-size: 20px;
}

.largeAudioPlayerWrapper .controlBar .mainControls {
  margin-top: 10px;
  text-align: center;
}

.largeAudioPlayerWrapper .controlBar .mainControls .playIcon,
.largeAudioPlayerWrapper .controlBar .mainControls .pauseIcon {
  fill: #fff;
  height: 32px !important;
  margin: 0 15px;
  vertical-align: sub;
  width: 32px !important;
}

.largeAudioPlayerWrapper .controlBar .icon.active {
  fill: #fff;
}

.largeAudioPlayerWrapper .controlBar .mainControls .nextIcon {
  margin-right: 15px;
}

.largeAudioPlayerWrapper .controlBar .mainControls .prevIcon {
  margin-left: 15px;
}

.largeAudioPlayerWrapper .controlBar .gridContainer {
  background-color: #282828;
  padding-top: 10px;
}

.largeAudioPlayerWrapper .controlBar .artistInfo {
  margin-left: 12px;
}

.largeAudioPlayerWrapper .controlBar .artistInfo img {
  height: 70px;
}

.largeAudioPlayerWrapper .controlBar .artistInfo .infoWrapper {
  display: inline-block;
  margin-left: 12px;
  vertical-align: top;
  padding-top: 24px;
}

.largeAudioPlayerWrapper .controlBar .artistInfo .infoWrapper .label {
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
}

.largeAudioPlayerWrapper .controlBar .artistInfo .infoWrapper .artist {
  color: #B3B3B3;
  margin-top: 6px;
  font-size: 10px;
}

.largeAudioPlayerWrapper .progressBar {
  background-color: #3F3F3F;
  height: 4px;
  margin-top: 10px;
  width: 100%;
}

.largeAudioPlayerWrapper .progressBarPercentage {
  background-color: #03dac4;
  height: 4px;
}

.video-react-controls-enabled {
  visibility: hidden;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 100px !important;
  position: fixed;
  bottom: 0;
}

.video-react.video-react-fluid {
  height: 100px !important;
}

.video-react-control-bar {
  display: flex !important;
  height: 90px !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.video-react-volume-menu-button-horizontal {
  position: absolute !important;
  right: 30px;
  top: 30px;
}

.largeAudioPlayerWrapper .closeIcon {
  cursor: pointer;
  font-size: 32px;
  fill: #fff;
  position: fixed;
  right: 10px;
  bottom: 65px;
  z-index: 10;
}