.topTracksChartWrapper .topTracksChartPaper {
  padding: 26px 32px 5px 16px !important;
  font-family: Roboto;
}

.topTracksChartWrapper .number {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}

.topTracksChartWrapper .title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 0.89;
  margin-bottom: 32px;
}

.topTracksChartWrapper .track {
  color: #000000;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 21px;
}

.topTracksChartWrapper .track:hover {
  cursor: pointer;
}

.topTracksChartWrapper .track svg {
  fill: rgba(0, 0, 0, 0.54);
}

.topTracksChartWrapper .track .artist {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.67;
}

.topTracksChartWrapper .track.isActive {
  color: #6200ee;
}

.topTracksChartWrapper .track.isActive .number {
  color: #6200ee;
}

.topTracksChartWrapper .track.isActive svg {
  fill: #6200ee;
}

.topTracksChartWrapper .sound {
  flex: 1;
  margin-left: 24px;
}