.chune-artists-collection .collection {
	border:0 none;
}

.chune-artists-collection .collection-item {
	background: transparent;
	line-height: 1;
	border-bottom:1px solid #ccc;
	padding:10px 0;
}

.chune-artists-collection .collection-item:after {
	display: block;
	content:"";
	clear: both;
}

.chune-artists-collection .collection-item .row {
	margin-bottom: 0
}

.chune-artist-name {
	float: left;
	width:50%;
	padding:8px 0;
	line-height: 1;
}

.chune-artist-actions {
	float: right;
	width:50%;
}

.chune-artist-actions .btn:first-child {
	margin-right: 0;
}
.chune-artist-actions .btn {
	float: right;
	margin-right:10px;
	background-color: rgb(0, 188, 212);
}

.chune-follow-button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.chune-follow-element {
	position: relative;
}
.chune-follow-element:after {
	display: block;
	content:"";
	clear: both;
}

.chune-follow-element .input-field {
	padding-right:150px;
	float: none;
}