{
  "extends": [
    "airbnb"
  ],

  "env": {
    "browser": true
  },

  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "max-len": [
      "error",
      {
        "code": 150,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  },

  "parser": "babel-eslint"
}