.mainArticle{
  display: flex;
  justify-content: center;
}
.basicArticleCardWrapper {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  width: 100%;
  height: 650px;
  margin: auto;
  position: relative;
}
.basicArticleCardWrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
  opacity: .6;
}


.basicArticleCardWrapper .title, .resourceName {
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 0.3px;
  position: absolute;
  padding: 12px;
}

.basicArticleCardWrapper .title {
  bottom: 70px;
  font-size: 40px;
  text-align: left;
  padding: 0 12px;
  line-height: normal;
  opacity: 0.9;
  letter-spacing: 0.3px;
}

.basicArticleCardWrapper .resourceName {
  bottom: 32px;
  font-size: 14px;
  line-height: 1.43;
  opacity: 0.7;
  text-transform: uppercase;
}
@media(max-width: 1099px) {
  .basicArticleCardWrapper{
    height: 590px;
  }
  .basicArticleCardWrapper .title {
    bottom: 60px;
    font-size: 36px;
  }
  .basicArticleCardWrapper .resourceName {
    bottom: 28px;
    font-size: 12px;
  }
}
@media(max-width: 899px) {
  .basicArticleCardWrapper{
    height: 400px;
  }
  .basicArticleCardWrapper .title {
    bottom: 55px;
    font-size: 34px;
    padding: 0 8px;
  }
  .basicArticleCardWrapper .resourceName {
    bottom: 24px;
    font-size: 10px;
  }
}
@media(max-width: 499px) {
  .basicArticleCardWrapper{
    height: 260px;
    width: 340px;
  }
  .basicArticleCardWrapper .title {
    bottom: 30px;
    font-size: 26px;
    padding: 0 8px;
  }
  .basicArticleCardWrapper .resourceName {
    bottom: 22px;
    font-size: 14px;
  }
}